img {
	border-radius: 10%;
	border: 5px solid black;
	max-width: 20%;
	height: auto;
	float: right;
	margin: 200px;
	vertical-align: super;
}

div{
	font-family: Verdana;
	font-size: 1.5em;
	float: left;
}
body {
	font-size: 100%;
	background-color: #ff6666;
}

h1 {
	font-family: Verdana;
	font-size: 4em;
}
